In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ragama_diabetic_data_set.csv')

In [3]:
data.head()

,Age,BMI,Blood_Pressure(Systolic),Blood_Pressure(Diastolic),Fasting_Blood_Sugar,Insulin_Dose(g),Cholesterol,Kidny_Function(s Creatinine),Kidny_Function(eGFR),Liver_Function(ALT),Pregnancy,Outcome
0,50,28,110,70,140.0,0.5,240.0,0.83,77.980,22.0,3,1
1,44,26,120,80,131.0,1.0,175.0,0.90,76.815,28.0,0,1
2,61,26,120,80,107.0,1.0,175.0,0.90,76.815,28.0,5,1
3,48,26,120,80,151.0,1.0,175.0,0.90,76.815,28.0,4,1
4,58,26,140,80,87.0,0.5,127.0,79.00,0.530,52.0,0,1

In [4]:
data.tail()

,Age,BMI,Blood_Pressure(Systolic),Blood_Pressure(Diastolic),Fasting_Blood_Sugar,Insulin_Dose(g),Cholesterol,Kidny_Function(s Creatinine),Kidny_Function(eGFR),Liver_Function(ALT),Pregnancy,Outcome
4086,63,33,120,70,101.0,0.180000,175.0,0.9,76.815,28.0,10,0
4087,27,37,120,70,122.0,0.961738,175.0,0.9,76.815,28.0,2,0
4088,30,26,120,70,121.0,0.112000,175.0,0.9,76.815,28.0,5,0
4089,47,30,110,60,126.0,0.961738,175.0,0.9,76.815,28.0,1,1
4090,23,30,120,70,93.0,0.961738,175.0,0.9,76.815,28.0,1,0

In [5]:
data.shape

(4091, 12)

In [6]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

Number of Rows 4091
Number of Columns 12

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4091 entries, 0 to 4090
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           4091 non-null   int64
 1   BMI                           4091 non-null   int64
 2   Blood_Pressure(Systolic)      4091 non-null   int64
 3   Blood_Pressure(Diastolic)     4091 non-null   int64
 4   Fasting_Blood_Sugar           4091 non-null   float64
 5   Insulin_Dose(g)               4091 non-null   float64
 6   Cholesterol                   4091 non-null   float64
 7   Kidny_Function(s Creatinine)  4091 non-null   float64
 8   Kidny_Function(eGFR)          4091 non-null   float64
 9   Liver_Function(ALT)           4091 non-null   float64
 10  Pregnancy                     4091 non-null   int64
 11  Outcome                       4091 non-null   int64
dtypes: float64(6), int64(6)
memory usage: 383.7 KB

In [8]:
data.isnull().sum()

Age                             0
BMI                             0
Blood_Pressure(Systolic)        0
Blood_Pressure(Diastolic)       0
Fasting_Blood_Sugar             0
Insulin_Dose(g)                 0
Cholesterol                     0
Kidny_Function(s Creatinine)    0
Kidny_Function(eGFR)            0
Liver_Function(ALT)             0
Pregnancy                       0
Outcome                         0
dtype: int64

In [9]:
data.describe()

,Age,BMI,Blood_Pressure(Systolic),Blood_Pressure(Diastolic),Fasting_Blood_Sugar,Insulin_Dose(g),Cholesterol,Kidny_Function(s Creatinine),Kidny_Function(eGFR),Liver_Function(ALT),Pregnancy,Outcome
count,4091.000000,4091.000000,4091.000000,4091.000000,4091.000000,4091.000000,4091.000000,4091.000000,4091.000000,4091.000000,4091.000000,4091.000000
mean,51.849426,27.237595,126.438524,78.675874,151.905252,0.961738,188.381198,10.999099,80.658754,31.831608,1.831093,0.877780
std,14.955494,10.814744,28.078040,12.915147,63.907719,5.251627,478.546182,37.563262,352.926086,20.773898,2.281867,0.327579
min,8.000000,13.000000,55.000000,20.000000,0.500000,0.001000,0.270000,0.010000,0.040000,0.340000,0.000000,0.000000
25%,42.000000,25.000000,120.000000,73.000000,109.000000,0.500000,175.000000,0.900000,76.815000,28.000000,0.000000,1.000000
50%,54.000000,26.000000,120.000000,80.000000,137.000000,1.000000,175.000000,0.900000,76.815000,28.000000,1.000000,1.000000
75%,63.000000,27.000000,130.000000,80.000000,176.000000,1.000000,175.000000,0.900000,76.815000,28.000000,2.000000,1.000000
max,154.000000,539.000000,1233.000000,491.000000,1150.000000,249.000000,29027.000000,1468.100000,16949.790000,630.000000,17.000000,1.000000

In [10]:
import numpy as np

In [11]:
data_copy = data.copy(deep=True)

In [12]:
data.columns

Index(['Age', 'BMI', 'Blood_Pressure(Systolic)', 'Blood_Pressure(Diastolic)',
       'Fasting_Blood_Sugar', 'Insulin_Dose(g)', 'Cholesterol',
       'Kidny_Function(s Creatinine)', 'Kidny_Function(eGFR)',
       'Liver_Function(ALT)', 'Pregnancy', 'Outcome'],
      dtype='object')

In [13]:
data_copy[['Pregnancy']] = data_copy[['Pregnancy']].replace(0,np.nan)

In [14]:
data_copy.isnull().sum()

Age                                0
BMI                                0
Blood_Pressure(Systolic)           0
Blood_Pressure(Diastolic)          0
Fasting_Blood_Sugar                0
Insulin_Dose(g)                    0
Cholesterol                        0
Kidny_Function(s Creatinine)       0
Kidny_Function(eGFR)               0
Liver_Function(ALT)                0
Pregnancy                       1453
Outcome                            0
dtype: int64

In [15]:
data['Pregnancy'] = data['Pregnancy'].replace(0,data['Pregnancy'].mean())

In [16]:
X = data.drop('Outcome',axis=1)
y = data['Outcome']

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,
                                               random_state=42)

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.pipeline import Pipeline

In [19]:
pipeline_lr  = Pipeline([('scalar1',StandardScaler()),
                         ('lr_classifier',LogisticRegression())])

pipeline_knn = Pipeline([('scalar2',StandardScaler()),
                          ('knn_classifier',KNeighborsClassifier())])

pipeline_svc = Pipeline([('scalar3',StandardScaler()),
                         ('svc_classifier',SVC())])

pipeline_dt = Pipeline([('dt_classifier',DecisionTreeClassifier())])
pipeline_rf = Pipeline([('rf_classifier',RandomForestClassifier(max_depth=3))])
pipeline_gbc = Pipeline([('gbc_classifier',GradientBoostingClassifier())])

In [20]:
pipelines = [pipeline_lr,
            pipeline_knn,
            pipeline_svc,
            pipeline_dt,
            pipeline_rf,
            pipeline_gbc]

In [21]:
pipelines

[Pipeline(steps=[('scalar1', StandardScaler()),
                 ('lr_classifier', LogisticRegression())]),
 Pipeline(steps=[('scalar2', StandardScaler()),
                 ('knn_classifier', KNeighborsClassifier())]),
 Pipeline(steps=[('scalar3', StandardScaler()), ('svc_classifier', SVC())]),
 Pipeline(steps=[('dt_classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('rf_classifier', RandomForestClassifier(max_depth=3))]),
 Pipeline(steps=[('gbc_classifier', GradientBoostingClassifier())])]

In [22]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

In [23]:
pipe_dict = {0:'LR',
             1:'KNN',
             2:'SVC',
             3:'DT',
             4: 'RF',
             5: 'GBC'}

In [24]:
pipe_dict

{0: 'LR', 1: 'KNN', 2: 'SVC', 3: 'DT', 4: 'RF', 5: 'GBC'}

In [25]:
for i,model in enumerate(pipelines):
    print("{} Test Accuracy:{}".format(pipe_dict[i],model.score(X_test,y_test)*100))

LR Test Accuracy:94.62759462759462
KNN Test Accuracy:95.1159951159951
SVC Test Accuracy:94.99389499389498
DT Test Accuracy:94.26129426129425
RF Test Accuracy:93.89499389499389
GBC Test Accuracy:95.97069597069597

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
X = data.drop('Outcome',axis=1)
y = data['Outcome']

In [28]:
rf =RandomForestClassifier(max_depth=3)

In [29]:
rf.fit(X,y)

RandomForestClassifier(max_depth=3)

In [30]:
new_data = pd.DataFrame({
    'Age':50,
    'BMI':26,
    'Blood_Pressure(Systolic)':120,
    'Blood_Pressure(Diastolic)':80,
    'Fasting_Blood_Sugar':135,
    'Insulin_Dose(g)':1,
    'Cholesterol':175,
    'Kidny_Function(s Creatinine)':1.2,
    'Kidny_Function(eGFR)':76.815,
    'Liver_Function(ALT)':21,
    'Pregnancy':2,
},index=[0])

In [31]:
p = rf.predict(new_data)

In [32]:
if p[0] == 0:
    print('non-diabetic')
else:
    print('diabetic')

diabetic

In [33]:
import joblib

In [34]:
joblib.dump(rf,'model_joblib_diabetes')

['model_joblib_diabetes']

In [35]:
model = joblib.load('model_joblib_diabetes')

In [36]:
model.predict(new_data)

array([1], dtype=int64)